vti_encoding:SR|utf8-nl
vti_author:SR|PapyrusLTop\\Kim
vti_modifiedby:SR|PapyrusLTop\\Kim
vti_timelastmodified:TR|21 Sep 2009 17:24:20 -0000
vti_timecreated:TR|21 Sep 2009 17:24:03 -0000
vti_title:SR|Untitled 1
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|pro_drop2/pro_two.html
vti_nexttolasttimemodified:TW|21 Sep 2009 17:24:08 -0000
vti_cacheddtm:TX|21 Sep 2009 17:24:20 -0000
vti_filesize:IR|3070
vti_cachedlinkinfo:VX|S|button4.gif S|button1a.gif S|down.gif S|button4.gif S|button4.gif S|button4a.gif S|button4.gif S|button4.gif S|button4a.gif S|arrow.gif S|arrow_over.gif S|arrow_over.gif
vti_cachedsvcrellinks:VX|FSUS|pro_drop2/button4.gif FSUS|pro_drop2/button1a.gif FSUS|pro_drop2/down.gif FSUS|pro_drop2/button4.gif FSUS|pro_drop2/button4.gif FSUS|pro_drop2/button4a.gif FSUS|pro_drop2/button4.gif FSUS|pro_drop2/button4.gif FSUS|pro_drop2/button4a.gif FSUS|pro_drop2/arrow.gif FSUS|pro_drop2/arrow_over.gif FSUS|pro_drop2/arrow_over.gif
vti_syncwith_www.papyrusdocument.com\:80/bs:TR|21 Sep 2009 17:24:20 -0000
vti_syncwith_papyrusdocument.com\:21/bs:TX|21 Sep 2009 17:24:20 -0000
vti_syncofs_papyrusdocument.com\:21/bs:TW|07 May 2012 14:36:31 -0000
